html,
body
{
	background-image: url("../images/background/bg_2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 80%;
}

nav
{
	position: fixed;
	top: 0px;
	left: 0px;
	float: left;
	width: 100%;
	/*background-color: rgba(226,206,173,0.69);*/
	background: linear-gradient(rgba(0,0,0,0.8), rgba(128,128,128,0.5));
	/*linear effect*/
}

nav .middleNav
{
	float: left;
	width: 70%;
	margin: 0px 15%;
}

nav p
{
	color: #ffe;
	float: right;
	text-shadow: 1px 1px 1px #fff;
	font-size: 1.4vw;
	font-family: "Calibri";
	text-align: right;
	margin: 1.3% 0px;
}

nav .logout
{
	float: right;
	margin: 0.9%;
	width: 3%;
	cursor: pointer;
}

nav .logout img
{
	float: right;
	width: 100%;
}

nav .middleNav a
{
	text-decoration: none;
	display: block;
	float: left;
	color: #fff;
	font-size: 1.76vw;
	padding: 1% 0% 1% 0px;
	margin: 0px 1.5% 0.2% 0.2%;
	font-family: "Calibri";
	text-shadow: 1px 1px 1px #000;
	font-weight: bold; 
	transition: 0.2s;
}

nav .middleNav a.activePage
{
	border-bottom: 2px solid #12ab12;
}

nav .middleNav a:hover
{
	color: #12ab12;
}

button.sign_UpIn
{
	float: right;
}

.sign_UpIn
{   
	display: inline-block;
	padding: 0.25% 0.5%;
	font-size: 1.2vw;
	font-family: "Calibri";
	font-weight: bold;
	cursor: pointer;
	text-align: center;	
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 10px;
	box-shadow: 0 3px #999;
	margin-left: 2%;
	margin-top: 0.872%;
	transition: 0.3s;
}

.sign_UpIn:hover
{
	background-color: #3e8e41;
}

.sign_UpIn:active 
{
	background-color: #3e8e41;
	box-shadow: 0 1px #666;
	transform: translateY(5.1%);
}

.form
{
	width: 30%;
	float: left; 
	position: fixed;
	top: 30%;
	left: 35%;
	z-index: 100;
}

.form form
{
	width: 100%;
	float: left;
	z-index: 80;
}

.form label
{
	display: block;
	width: 100%;
	float: left;
	margin: 1.5% 0px;
	position: relative;
}

.form p
{
	width: 100%;
	float: left;
	color: #aaa;
	font-family: "Calibri";
	font-size: 1.2vw;
	margin-top: 1%;
	transition: 0.3s;
}

.form .loginError
{
	color: #ef470a;
}

.form input
{
	/*width: 70%;*/
	width: 100%;
	float: right;
	font-size: 1.7vw;
	padding: 1% 0px 1% 1%;
	border-radius: 4px;
	box-sizing: border-box;
	transition: 0.5s;
	border: 1px solid rgba(18,200,18,1);
	color: #000;
}

.form input:focus
{
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
	
	border: 1px solid #12ab12;
	background-color: rgba(18,200,18,0.35);
	color: #fff;
	text-shadow: 0.5px 0.5px 0.5px #000;
}

.form input[type=submit]
{
	width: 100%;
	float: left;
	transition: 0.3s;
	border: 0px solid rgba(0,0,0,0);
	background-color: #5CBF50;
	font-size: 2vw;
    font-family: "Calibri";
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    margin-top: 3%;
    color: #000;
}

.form input[type=submit]:hover 
{
    background-color: #45a049;
    cursor: pointer;
}

.form h2
{
	text-align: center;
	color: #fff;
	font-size: 3vw;
	font-family: "Calibri";
	margin-bottom: 5%;
}

div.cover
{
	background-color: rgba(0,0,0,0.85);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 50;
}

.form input.disabled
{
	opacity: 0.6;
}

.form input.disabled:hover
{
	background-color: #5CBF50;
    cursor: not-allowed;
}

.form input.error
{
	border: 1px solid #f00;
}

.form input.error:focus
{
	border: 1px solid #f00;
	background-color: rgba(128,0,0,0.35);
}

.form input.default
{
	border: 1px solid #aaa;
}

.form input.default:focus
{
	border: 1px solid #aaa;
	background-color: rgba(128,128,128,0.35);
}

.disable-select 
{
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}