html, body{
	margin: 0px;
	padding: 0px;
	background-color: blue;
}

.content{
	background-color: darkblue;
	width: 60%;
	margin: 0px 20% 0px 20%;
	float: left;

}

.item{
	width: 23%;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 1%;
}

.image{
	width: 100%;
}

.image img{
	width: 100%;
}

.topOffer{
	position: absolute;
	top: 0px;
	right: 0px;
}

.topOffer img{
	z-index: 600;
	position: relative;
}


.whiteDiscount{
	background-color: #be0b0b;
    color: white;
    font-weight: bold;
    padding-top: 21px;
    position: absolute;
    right: -45px;
    text-align: center;
    top: -11px;
    transform: rotate(40deg);
    width: 70%;
    z-index: 500;
}