html, body, div, span, applet, object, iframe, a,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    background-color: brown;
    width: 100%;
    height: 3.5vw;
    border: 1px solid black;
}

nav {
    padding: 0 2% 0 10%;
}

a {
    cursor: pointer;
    float: right;
    display: block;
    padding: 0.7vw;
    font-size: 2vw;
    color: #baafb7;
}

#userInfo {
    float: right;
    display: block;
    color: #baafb7;
    margin-top: 0.5vw;
    margin-left: 2%;
}

#userInfo b {
    font-size: 1vw;
}

#homeButton {
    float: left;
}

section {
    width: 100%;
    height: 45vw;
    background-color: #c82d2d;
    padding-top: 10vw;
}

.msg {
    margin: auto;
    text-align: center;
    font-size: 3vw;
    color: #baafb7;

}

form {
    width: 20%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: brown;
    padding: 5% 5% 2% 5%;
    color: #baafb7;
    text-align: center;
}

#warning {
    color: #ff5100;
}

form h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
}

form label {
    display: block;

}

form input {
    width: 80%;
    height: 1.5vw;
    margin-top: 2%;
    margin-bottom: 4%;
    border: solid 2px black;
    border-radius: 4%;
}

#submit {
    width: 40%;
    height: 2vw;
    background-color: brown;
    border: solid black 1px;
}

#submit:hover {
    background-color: #c82d2d;
}

footer {
    background-color: brown;
    width: 100%;
    height: 3.5vw;
    border: 1px solid black;
}

